[submodule "src/Drivers/Pins"]
	path = src/Drivers/Pins
	url = https://github.com/CraigComberbach/Pins.git
[submodule "src/Drivers/Scheduler"]
	path = src/Drivers/Scheduler
	url = https://github.com/CraigComberbach/Scheduler.git
[submodule "src/Drivers/A2D"]
	path = src/Drivers/A2D
	url = https://github.com/CraigComberbach/A2D.git
[submodule "src/Drivers/I2C"]
	path = src/Drivers/I2C
	url = https://github.com/CraigComberbach/I2C.git
[submodule "src/Drivers/SPI"]
	path = src/Drivers/SPI
	url = https://github.com/CraigComberbach/SPI.git
[submodule "src/Drivers/Timers"]
	path = src/Drivers/Timers
	url = https://github.com/CraigComberbach/Timers.git
[submodule "src/HAL/ButtonControl"]
	path = src/HAL/ButtonControl
	url = https://github.com/CraigComberbach/ButtonControl.git
[submodule "src/HAL/LEDs/HAL-LEDs"]
	path = src/HAL/LEDs/HAL-LEDs
	url = https://github.com/ComberbachSolutions/HAL-LEDs.git
[submodule "src/HAL/LEDs/LED-Control"]
	path = src/HAL/LEDs/LED-Control
	url = https://github.com/ComberbachSolutions/LED-Control.git
[submodule "src/HAL/LED-Control"]
	path = src/HAL/LED-Control
	url = https://github.com/ComberbachSolutions/LED-Control.git
[submodule "src/HAL/LEDControl"]
	path = src/HAL/LEDControl
	url = https://github.com/ComberbachSolutions/LEDControl.git
